i.fas.fa-bars
{
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 20px;
    cursor: pointer;
    color: var(--btn-background-color);
    z-index: 2000;
    transition: right .3s ease-in;
}

i.fas.fa-bars.active
{
    right: 230px;
    transition: right .3s ease-in;
}

nav.main-nav
{
    position: absolute;
    top: 0;
    right: -200px;
    width: 200px;
    background-color: var(--primary-background-color);
    height: 100%;
    box-shadow: var(--box-shadow);
    z-index: 1000;
    transition: right .3s ease-in;
    z-index: 2000;
}

nav.main-nav.active
{
    right: 0;
    transition: right .3s ease-in;
}

nav.main-nav h1.logo
{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primary-text-color);
}

nav.main-nav ul
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

nav.main-nav ul li
{
    font-size: 1.7rem;
}

nav.main-nav ul li:not(:last-child)
{
    margin-bottom: 10px;
}

nav.main-nav ul li a
{
    position: relative;
    color: var(--primary-text-color);
}

nav.main-nav ul li a.active
{
    border-bottom: 2px solid var(--primary-text-color);
}

nav.main-nav ul li a::before
{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    border-bottom: 2px solid var(--primary-text-color);
    transition: width .2s ease-in;
}

nav.main-nav ul li a:hover:not(.active)::before
{
    width: 100%;
    transition: width .2s ease-in;
}

<<<<<<< HEAD
/* Section: Hero */
section.hero .container.hero-desc-container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-text-color);
    text-align: center;
}

section.hero .container.hero-desc-container i
{
    display: block;
    margin-bottom: 10px;
}

section.hero .container.hero-desc-container h1
{
    font-size: 2rem;
    margin: 10px 0 20px 0;
}

section.hero .container.hero-desc-container p
{
    margin-bottom: 30px;
    font-size: 1.2rem;
    text-align: center;
    max-width: 200px;
=======
/* Section: Recipes */
section.recipes .container.search-container
{
    position: absolute;
    top: 12.5%;
    left: 50%;
    transform: translateX(-50%);
}

section.recipes .container.search-container input
{
    font-family: inherit;
    color: var(--primary-text-color);
    background-color: transparent;
    border-bottom: 2px solid var(--primary-background-color);
    font-size: 20px;
    text-align: center;
}

section.recipes .container.recipe-cards-container
{
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    height: 500px;
    overflow-y: auto;
>>>>>>> origin/recipes_list
}